<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript Discussion</title>
</head>
<body>
    <p id="demos"></p>
    
    <p id="demo1"></p>
    <p id="demo2"></p>
    <p id="demo3"></p>
<form>
    <label for="num1"> Number 1:</label>
    <input type="number" id="num1" name="num1" required>
    <br>
    <label for="num2">Number 2:</label>
    <input type="number" id="num2" name="num2" required>
    <br>
    <button onClick="DisplayName(6,5)">click to sum of 6 and 5</button>
</form>
   
    <script>
        


        // if (condition) {
            
        // }
        // else{
        // 3 declaration in JS to declare/use java script
        // 1. var -> variable
        //        -> var x = 8;
        // 2. let -> declares a block-scoped, local variable, can
            //  let x = 2;
            //  if (x==2) {
            //     document.getElementById("demo1").innerHTML=x;
            //     var y=1;
            //     document.getElementById("demo2").innerHTML=y;
            //  }
            //  document.getElementById("demo3").innerHTML=y;
        // 3. const
    //    const students= {
    //     id:"189",
    //     lastname: "Timbal",
    //     firstname:"Dionar"
    //    };
    //    console.log(students.id);
    //    console.log(students.lastname);
    //    console.log(students.firstname);
// isAnswer= true;
// var x=5;
// var y=10;
// var z=x+y;

// if (isAnswer) {
//     console.log(z);
// } else {
//     console.log("Condition is false");
// }
// const person = {firstname:"john",lastname:"Doe"};
// console.log(person.firstname,person.lastname);


// const cars=["saab","valvo","BMW"];
// console.log(cars);

// const date= new date()
// console.log(date);


// function DisplayName() {
//     var name="John Doe";
//     var age= "18"
//     return ([name,age]);
// }
// console.log(DisplayName())

// function DisplayName(a,b) {
//     alert(a+b)
    
// }
// console.log(DisplayName(5,6))
        // }

    </script>
</body>
</html>